# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\gleba\AppData\Roaming\JetBrains\DataGrip2021.1\projects\playstation\.idea/dataSources/
/dataSources.local.xml
